body {
    background-color:#000000;
    font-family: Arial, Helvetica, sans-serif
}

ul {
    list-style-type: none;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 120%;
}

section{
  margin-top: 300px;
}

main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}

header {
    padding: 48px;
    text-align: center;
    background: #ff671a;
    color: #ffffff;
    font-size: 32px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  li {
    background-color: #ffffff;
    width: 144px;
    color: #ff671a;
    border: 1px #000000 solid;
    border-radius: 8px;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: #ff671a;
  }

  .productboxes {
    background-color: #ffffff;

    /*height: 320px;
    width: 320px;*/

    border-color: #000000;
    border-width: 2px;
    border-radius: 8px;
}

.productboxes > h3{
    font-size: 32px;
    color: #ff671a;
    text-align: center;
}

.productboxes > p{
  font-size: 16px;
  color: #000000;
  text-align: center;
}

@media screen and (max-width: 600px){
  main{
    grid-template-columns: repeat(1,1fr);
  }
  
}