body {
    background-color:#000000;
    font-family: Arial, Helvetica, sans-serif
}

ul {
    list-style-type: none;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 120%;
}

section{
  margin-top: 300px;
}

main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}

header {
    padding: 48px;
    text-align: center;
    background: #ff671a;
    color: #ffffff;
    font-size: 32px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  li {
    background-color: #ffffff;
    width: 144px;
    color: #ff671a;
    border: 1px #000000 solid;
    border-radius: 8px;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: #ff671a;
  }

  .homepagediv {
    align-items: center;
  }

  .homepagediv > h2{
    color: #ffffff;
    text-align: center;
    font-size: 60px;
  }

  .homepagediv > h3{
    color: #ffffff;
    text-align: center;
  }

  .homepagebutton {
    background-color: #ffffff;
    color: #ff671a;
    border: 1px #000000 solid;
    border-radius: 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    text-align: center;
    font-size: 48px;
  }

  .productboxes {
    background-color: #ffffff;

    /*height: 320px;
    width: 320px;*/

    border-color: #ff671a;
    border-width: 2px;
    border-radius: 8px;
}

.productboxes > h3{
    font-size: 32px;
    color: #ff671a;
    text-align: center;
}

.productboxes > p{
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.servicepage {
  height: 10px;
  text-align: center;
  display: block;
}

.servicepage > h1{
  height: 50px;
  font-size: 128px;
  color: #FFFFFF;
  text-align: center;
}

.servicepage > h2{
  font-size: 48px;
  color:#ff671a;
  text-align: center;
}

.footerclass {
  font-size: 16px;
  color: #ffffff;
  background-color:#ff671a;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;

}

.footerclass > a{
  font-size: 32px;
  color: #ffffff;
}

.footerclass > a:visited{
  color: #FFFFFF;
}

@media screen and (max-width: 600px){
  main{
    grid-template-columns: repeat(1,1fr);}
  }